@use "@styles/_variables";

.nav {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100px;
  background-color: variables.$secondary-color;
  border-radius: 16px 16px 0 0;

  &Icon {
    width: 3rem;
    height: 3rem;
    padding: 4px;
    color: variables.$white-color;
    transition: color 0.3s ease;
    fill: variables.$white-color;
    &Active {
      fill: variables.$primary-color;
    }

    &Active > &Svg {
      filter: drop-shadow(2px 0 0 variables.$white-color)
        drop-shadow(-2px 0 0 variables.$white-color)
        drop-shadow(0 2px 0 variables.$white-color)
        drop-shadow(0 -2px 0 variables.$white-color);
    }

    &Svg {
      width: 100%;
      height: 100%;
    }
  }
}
